@import "../../../../../../styles/mixins";

.notifications {
  position: relative;
  cursor: pointer;

  .notification__value {
    @include flex(center, center);
    position: absolute;
    top: -.25em;
    right: -.25em;
    height: .938em;
    width: .938em;
    background-color: #f25c5e;
    border-radius: .938em;

    > span {
      color: #fff;
      font-size: .625rem;
      font-weight: 900;
    }
  }

  .notification__dropdown {
    display: none;
    position: absolute;
    top: 1.25em;
    min-width: 13.75em;
    left: -6.875em;
    padding-top: 1em;
    z-index: 9;

    &.open {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      margin-top: -.9em;
      border-bottom: 15px solid #fff;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }

    ul {
      background: #fff;
      border: .063em solid #eef3f6;
      border-radius: .25em;
      box-shadow: 0 .125em 1.25em 0 rgba(165, 183, 195, .25);
      padding: 1em 1.25em;
    }

  }
}
