<style>
    bet_debug {
        cursor: crosshair;
    }
    bet_debug, bet_debug * {
        font-family: monospace;
        font-size: 0;
        padding: 0;
        margin: 0;
    }
    box, gain {
        width:200px;
        display: block;
        overflow: hidden;
        padding: 0px;
        padding-left: 10px;
        padding-left: 10px;
        padding-right: 10px;

    }
    box, column, #tooltip, gain, projected, pre {
        font-size: 14px;
    }
    column pre {
        padding: 0 !important;
        margin-bottom: 10px;
    }
    box:hover {
        background: #ff5733 !important;
        color: black !important;
    }
    column {
        display: inline-block;
    }
    #tooltip {
        padding: 10px;
        border-radius: 5px;
        position: absolute;
        background: #ffc305;
        display: none;
        width: 500px;
        white-space: pre;
    }
    projected {
        width: 40px;
        background: #581145;
        color: white;
        display: block;
        writing-mode: tb-rl;
        box-sizing: border-box;
        padding: 10px;
        overflow: hidden;
    }
    /* hide most save buttons
       because it annoys me to have so many options */
    input[name="_addanother"],input[name="_save"],input[name="_saveasnew"]{
        display: none;
    }
</style>
<script>
django.jQuery(document).ready(function() {
    let tooltip = django.jQuery('#tooltip');
    let bet_debug = django.jQuery('bet_debug');
    let box_data = '';
    django.jQuery("box")
    .mouseenter(function(e) {
        box_data = e.target.dataset.serialized;
    })
    .mouseleave(function() {
        box_data = '';
    })
    django.jQuery(document).on('mousemove', function(e){
        django.jQuery('#tooltip').css({
            left:  e.pageX + 10,
            top:   e.pageY + 10
        });
        let calc = Math.round( ( (bet_debug.offset().top - e.pageY)/ {{VIEWPORT}} * {{highest_column}}) * 100 ) / 100
        tooltip.html('$' + calc + '<br>' + box_data);
    });
    bet_debug
    .mouseenter(function() {
        tooltip.show();
    })
    .mouseleave(function() {
        tooltip.hide();
    })
})
</script>

<bet_debug>
    <column>
<pre>
yes:       {{ bet.yes }}
yes_ratio: {{ yes_ratio }}:1
total:     ${{ yes_sum }}</pre>
    {{ yes_boxes }}
    </column>
    <column>
        <projected style="height:{{ yes_projected_height }}px">projected size of 'yes' to match whole 'no'</projected>
    </column>
    <column>
        <projected style="height:{{ noo_projected_height }}px">projected size of 'no' to match whole 'yes'</projected>
    </column>
    <column>
<pre>
no:          {{ bet.no }}
no_ratio: 1: {{ noo_ratio }}
total:       ${{ noo_sum }}</pre>
        {{ noo_boxes }}
    </column>
    <column>
        <pre>matched 'yes': {{ yes_matched_sum }}</pre>{{ yes_matched_boxes }}
    </column>
    <column>
        <pre>matched 'no': {{ noo_matched_sum }}</pre> {{ noo_matched_boxes }}
    </column>
    <column>
<pre>
'yes' won transactions:
- yes:    {{ yes_wins_gains_yes }}
- no:     {{ yes_wins_gains_noo }}
- total:  {{ yes_wins_gains_total }}</pre>
        {{ yes_wins_gains }}
    </column>
    <column>
<pre>
'no' won transactions:
- yes:    {{ noo_wins_gains_yes }}
- no:     {{ noo_wins_gains_noo }}
- total:  {{ noo_wins_gains_total }}</pre>
        {{ noo_wins_gains }}
    </column>
    <div id="tooltip">hello</div>
    <br>

</bet_debug>
