
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import "mixins";
@import "../components/Nav/nav";

.row {
  margin: 0 -1em;
}

.container {
  padding: 0 1em;

  main {
    min-height: calc(100vh - 173px);
  }
}

@media (min-width: 1200px) {
  .container {
    margin: 0 auto;
    width: 1140px;
    max-width: 100%;
  }
}
