@import "base";

.results__number {
  font-weight: 500;
  margin: 0;
  > span {
    font-weight: 700;
  }
}

.sort-by {
  background: #fff;
  border: 0.125em solid #eaedf2;
  padding: .625em .875em;
  min-width: 10em;
  position: relative;
  cursor: pointer;

  .sort-by__arrow {
    position: absolute;
    top: .25em;
    right: .625em;
  }

  .sort-by__value {
    color: #828f97;
    font-size: .75rem;
    font-weight: 400;

    > span {
      color: #102b3b;
      font-weight: 700;
    }
  }

  .sort-by__dropdown {
    position: absolute;
    background: #fff;
    left: -2px;
    width: 100%;
    top: 2.125em;
    min-width: 10em;
    border: 0.125em solid #eaedf2;

    transform: translateY(-10px);
    visibility: hidden;
    opacity: 0;
    transition: opacity, transform, visibility;
    transition-duration: 70ms, 250ms, 250ms;
    transition-timing-function: linear, cubic-bezier(0.23, 1, 0.32, 1);
    transition-delay: 25ms, 50ms, 0ms;
    display: block;

    &.open {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
      transition-duration: 100ms, 150ms, 25ms;
      transition-delay: 35ms, 50ms, 25ms;
      display: block;
    }

    li {
      color: #828f97;
      font-size: .75rem;
      font-weight: 400;

      padding: .5em 1.25em;
      transition: .3s ease-in-out;

      &:hover {
        background: #eaedf2;
      }
    }
  }
}

.content__heading {
  @include flex(space-between, flex-start);
}

.amount__box {
  @include flex(center, center);
  position: relative;
  max-width: 7.75em;
  margin: 0 auto;

  .bet__currency {
    @include flex(center, center);
    width: 1.5em;
    height: 2.5em;
    position: absolute;
    right: 0;
    top: 0;

    > span {
      font-size: .875rem;
      font-weight: 700;
    }
  }

  .price__box--value {
    color: #808f97;
    font-size: .75rem;
    font-weight: 500;
  }
}

.price__box {
  @include flex(center, center);
  background: #f9fafc;
  border: 0.063em solid #eaedf2;
  height: 2.813em;
  margin-top: .25em;
  position: relative;

  .bet__currency {
    @include flex(center, center);
    height: 2.813em;
    width: 1.5em;
    position: absolute;
    right: 0;
    top: 0;

    > span {
      font-size: .875rem;
      font-weight: 700;
    }
  }

  .price__box--value {
    color: #808f97;
    font-size: .75rem;
    font-weight: 500;
  }
}

.bet__box {
  border-radius: 0.25em;
  text-align: center;
  height: 2.813em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: .25em;
  cursor: pointer;
  transition: .3s ease-in-out;

  .bet__title {
    font-size: .75rem;
  }

  .bet__value {
    font-size: 1.125rem;
    font-weight: 900;
  }

  &.bet__box--white {
    color: #828f97;
    background: #fff;
    box-shadow: 0 0.25em 0.75em 0 rgba(0, 0, 0, .1);

    &:hover {
      background: #828e96;
      color: #fff;
    }
  }

  &.bet__box--blue {
    color: #fff;
    background: rgba(68, 174, 243, 1);
    box-shadow: 0 0.625em 0.625em 0 rgba(68, 174, 243, 0.4);

    &:hover {
      background: #3494d3;
    }
  }
}
