@import "base";

.account__boxes {
  display: flex;
  align-items: center;

  padding: 0;
  margin-bottom: 1.875em;

  .account__result {
    @include flex(center, center);
    flex-direction: column;

    flex: 1;
    height: 10em;
    border-left: .063em solid #eaedf2;

    .account__result--value {
      margin-top: .25em;
      color: #102b3b;
      font-size: 1.625rem;
      font-weight: 900;

      &.fee__value {
        color: #22d039;
      }
    }
  }
}

.account__information {
  flex: 1 1 10%;

  .profile__image {
    background-size: cover;
    background-position: center;
    border-radius: 5em;
    box-shadow: 0 .25em .5em 0 rgba(68, 174, 243, 0.3);

    margin: 0 auto;
    height: 5em;
    width: 5em;
  }

  .profile__name {
    margin: .625em 0 0;
    h4 {
      color: #293244;
      font-size: 1rem;
      font-weight: 700;
    }

    .user__email {
      color: #828f97;
      font-size: .75rem;
    }
  }
}

.save__data {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;

  .btn {
    border-radius: .25em;
    height: 2.813em;
    width: 9.063em;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 2.5em;
    }
  }

  .btn__blue {
    box-shadow: 0 .625em .625em 0 rgba(68, 174, 243, .4);
  }
}

.transaction__options {
  display: flex;
  justify-content: flex-end;
  padding-right: .625em;

  .transaction__option {
    font-size: 1rem;
    background-color: #fff;
    border: .125em solid #eaedf2;
    border-radius: .938em;
    cursor: pointer;
    height: 1.875em;
    width: 1.875em;

    @include flex(center, center);

    &:not(:last-child) {
      margin-right: .625em;
    }
  }
}
