<table id="result_list">
  <th>time</th>
  <th>IP</th>
  <th>country</th>
  <th>region</th>
  <th>city</th>
  {% for login_attempt in login_attempts %}
    <tr class="{% cycle 'row1' 'row2' %}">
      <td>{{ login_attempt.created_at }}</td>
      <td>{{ login_attempt.ip }}</td>
      <td>{{ login_attempt.country }}</td>
      <td>{{ login_attempt.region }}</td>
      <td>{{ login_attempt.city }}</td>
    </tr>
  {% endfor %}
</table>
