<table id="result_list">
    <thead>
    <th>time</th>
    <th>bet</th>
    <th>account balance<br>before transaction</th>
    <th>account balance<br>after transaction</th>
    <th>transaction<br>amount</th>
    <th>fee</th>
    <th>without<br>fee</th>
    <th>user</th>
    </thead>
    {% for transaction in transactions %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{% url 'admin:bets_transaction_change' transaction.id %}">{{ transaction.created_at|date:"y.m.d H:i:s" }}</a></td>
        <td>
            {% if transaction.bet %}
            <a href="{% url 'admin:bets_bet_change' transaction.bet.id %}">
                {{ transaction.bet.statement|wordwrap:80|linebreaksbr }}
            </a>
            {% else %}
            {% if transaction.amount > 0 %}
            Top up
            {% else %}
            Payout
            {% endif %}
            {% endif %}
        </td>
        <td>{{ transaction.amount_before }}</td>
        <td>{{ transaction.running_sum }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{% if transaction.bet %}{{ transaction.fee }}{% endif %}</td>
        <td>{% if transaction.bet %}{{ transaction.orig }}{% endif %}</td>
        <td>{{ transaction.user.email }}</td>
    </tr>
    {% endfor %}
</table>
