@import '../../../../../styles/mixins';

.user__panel--burger {
  width: 16px;
  margin-left: .5em;
  > .burger__bar {
    width: 100%;
    height: 2px;
    position: relative;
    background: #102b3b;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 75%;
      background: #102b3b;
      top: -5px;
    }

    &::after {
      top: 5px;
      width: 50%;
    }
  }
}

.user__logged {
  height: 100%;
  position: relative;
  color: #293244;
  font-weight: 600;
  line-height: 1em;
  background-image: url("../../../../../images/svg/arrow_down.svg");
  background-position: right .625em center;
  background-repeat: no-repeat;

  cursor: pointer;

  .user__logged--name {
    @include flex(flex-start, center);
    height: 100%;

    .user__image {
      background-size: cover;
      background-position: center;
      height: 2.188em;
      width: 2.188em;
      border-radius: 2.188em;
    }

    .user__hello {
      line-height: 1;
      padding-left: .625em;
    }

    .user__greeting {
      color: #828f97;
      font-size: .75rem;
      font-weight: 400;
    }

    .user__name {
      color: #102b3b;
      font-size: .875rem;
      font-weight: bold;
    }
  }

  .user__logged--dropdown {
    background: #fff;
    position: absolute;
    box-shadow: 0 .125em .5em 0 rgba(187, 195, 207, .3);
    right: 0;
    margin-top: 1px;
    min-width: 8em;
    width: 100%;
    z-index: 9;


    transform: translateY(-10px);
    visibility: hidden;
    opacity: 0;
    transition: opacity, transform, visibility;
    transition-duration: 70ms, 250ms, 250ms;
    transition-timing-function: linear,cubic-bezier(0.23, 1, 0.32, 1);
    transition-delay: 25ms, 50ms, 0ms;
    display: block;

    > li {
      > a {
        @include flex(flex-start, center);
        color: #808f97;
        cursor: pointer;
        font-size: .625rem;
        text-transform: uppercase;
        padding: 1em 1.75em;
        transition: .3s ease-in-out;

        &:hover {
          background: #eaecf1;
        }

        .dropdown__image {
          @include flex(center, center);
          width: 1.8em;
          height: 1.8em;

          margin-right: 1em;
        }
      }

      &:last-child {
        a {
          border-top: 0.063em solid #eaedf2;
        }
      }
    }
  }

  &.user__logged--open {
    display: block;
    color: #293244;
    background-color: #fff;

    .user__logged--dropdown {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
      transition-duration: 100ms, 150ms, 25ms;
      transition-delay: 35ms, 50ms, 25ms;
      display: block;
    }
  }
}
