.user__not--logged {
  display: flex;
  align-items: center;

  .nav__item:not(:last-child) {
    margin-right: 1em;
  }
}

.search__nav {
  display: flex;
  align-items: center;
}

header {
  background: #fff;
  border-bottom: 1px solid #eaedf2;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.75em;
  }

  .search__bar {
    max-width: 18.75em;
    flex: 1 0 auto;
    margin: 0;
  }

  .navigation {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media screen and (min-width: 768px) {
      padding-left: 1.875em;
      flex: 1;
    }
  }

  .nav__items {
    display: flex;
    align-items: center;
    height: 100%;
    .nav__item {
      &:not(:first-child) {
        margin-left: 1.25em;
      }

      span {
        color: #102b3b;
        font-family: 'Roboto', sans-serif;
        font-size: 0.85rem;
        font-weight: 600;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .nav__items {
      position: fixed;
      flex-direction: column;
      min-width: 20em;
      max-width: 20em;
      top: 3.75em;
      right: -21.125em;
      height: calc(100% - 3.75em);
      background: #fff;
      transition: .3s ease-in-out;
      z-index: 9;

      &.open {
        right: 0;
        box-shadow: -1px 0.75em 1.25em 0 rgba(165, 183, 195, 0.65);
      }

      .nav__item {
        margin: .5em 0;

        &:not(:first-child) {
          margin-left: 0;
        }
      }

      .nav__item.user__logged {
        background: transparent;
        width: 100%;
        padding: 0 1em 2em;
        border-bottom: 1px solid #eaedf2;

        .user__logged--dropdown {
          box-shadow: none;
          position: relative;
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }

    .nav__notifications {
      order: 5;

      .icon__notification,
      .notification__value {
        display: none;
      }

      .notification__dropdown {
        position: relative;
        display: block;
        width: 100%;
        left: 0;
        padding-top: 0;

        ul {
          box-shadow: none;
          border: none;
        }
      }
    }
  }
}
