<table id="result_list">
    <thead>
    <th>time</th>
    <th>bet action<br>amount</th>
    <th>paired<br>amount</th>
    <th>side</th>
    <th>user</th>
    </thead>
    {% for bet_action in bet_actions %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>
            <a href="{% url 'admin:bets_betaction_change' bet_action.id %}" target="_blank">
                {{ bet_action.created_at| date:"y.m.d H:i:s" }}
            </a>
        </td>
        <td>{{ bet_action.amount }}</td>
        <td>{{ bet_action.paired_amount|floatformat:2 }}</td>
        <td>{{ bet_action.side }}</td>
        <td>{{ bet_action.user.email }}</td>
    </tr>
    {% endfor %}
</table>
