<table>
    <thead>
    <th>Time</th>
    <th>Price</th>
    <th>Volume</th>
    <th>Trader 1</th>
    <th>Trader 2</th>
    <th>Aggressor</th>
    <th>Aggressor Side</th>
    </thead>
    {% for entry in entries %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ entry.created_at }}</td>
        <td>{{ entry.price }}</td>
        <td>{{ entry.shares }}</td>
        <td>{{ entry.order.owner.email }}</td>
        <td>{{ entry.traded_with.order.owner.email }}</td>
        {% if entry.is_aggressor %}
            <td>{{ entry.order.owner.email }}</td>
            <td>{{ entry.order.side }}</td>
        {% else %}
            <td>{{ entry.traded_with.order.owner.email }}</td>
            <td>{{ entry.traded_with.order.side }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% if entries.has_other_pages %}
  <ul class="pagination">
    {% if entries.has_previous %}
      <li><a href="?{{ page_param }}={{ entries.previous_page_number }}">&laquo;previous</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;previous</span></li>
    {% endif %}
    {% if entries.has_next %}
      <li><a href="?{{ page_param }}={{ entries.next_page_number }}">&raquo;next</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;next</span></li>
    {% endif %}
  </ul>
{% endif %}
