<table>
    <thead>
    <th>Time</th>
    <th>Price</th>
    <th>Volume</th>
    <th>Side</th>
    <th>Trader</th>
    </thead>
    {% for order in orders %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ order.created_at }}</td>
        <td>{{ order.price }}</td>
        <td>{{ order.shares }}</td>
        <td>{{ order.side }}</td>
        <td>{{ order.owner.email }}</td>
    </tr>
    {% endfor %}
</table>
{% if orders.has_other_pages %}
  <ul class="pagination">
    {% if orders.has_previous %}
      <li><a href="?{{ page_param }}={{ orders.previous_page_number }}">&laquo;previous</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;previous</span></li>
    {% endif %}
    {% if orders.has_next %}
      <li><a href="?{{ page_param }}={{ orders.next_page_number }}">&raquo;next</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;next</span></li>
    {% endif %}
  </ul>
{% endif %}
