{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">
	{% csrf_token %}
	<p>Are you sure you want to execute this action?</p>
  <input type="hidden" name="action" value="update_status" />
  <input type="submit" name="apply" value="{{ resolution }}"/>
</form>
{% endblock %}