<table id="result_list">
    <thead>
    <th>time</th>
    <th>admin who resolved</th>
    <th>user</th>
    <th>transaction<br>amount</th>
    <th>fee</th>
    <th>without<br>fee</th>
    </thead>
    {% for transaction in transactions %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{% url 'admin:bets_transaction_change' transaction.bet.id %}">{{ transaction.created_at|date:"y.m.d H:i:s" }}</a></td>
        <td>{{ transaction.user.email }}</td>
        <td>{{ transaction.account.user.email }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.fee }}</td>
        <td>{{ transaction.orig }}</td>
    </tr>
    {% endfor %}
</table>
{% if transactions.has_other_pages %}
  <ul class="pagination">
    {% if transactions.has_previous %}
      <li><a href="?transaction_page={{ transactions.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;previous</span></li>
    {% endif %}
    {% if transactions.has_next %}
      <li><a href="?transaction_page={{ transactions.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;next</span></li>
    {% endif %}
  </ul>
{% endif %}
