.input-range__slider {
  background: white;
  box-shadow: 0 1px 5px 1px #808F97;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  width: 1rem;
  margin-left: -0.4rem;
  margin-top: -0.75rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;

}

.reverse {
  transform: rotate(180deg);
}

.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}

.input-range--disabled .input-range__slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  transform: none;
}

.input-range__slider-container {
  transition: left 0.3s ease-out;
}

.input-range__label {
  color: transparent;

}

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute;
}

.input-range__label--min {
  display: none;
}

.input-range__label--max {
  display: none;
}

.input-range__label--value {
  position: absolute;
  top: -1.8rem;
}

.input-range__label-container {
  left: -50%;
  position: relative;
}

.input-range__label--max .input-range__label-container {
  left: 50%;
}

.input-range__track {
  border: 1px #eee solid;
  top: -1px;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.5rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}

.input-range--disabled .input-range__track {
  background: #eeeeee;
}

.input-range__track {
  background: #808f97;
  border: 1px #808f97 solid;
}

.input-range__track--reversed {
  border: 1px #eee solid;
  background: white;
}


.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%;
}

.input-range__track--active {
  background: #808f97;
  border: 1px #808f97 solid;
}

.input-range__track--active--reversed {
  border: 1px #eee solid;
  background: white;
  left: -1px !important;
}

.input-range {
  height: 1rem;
  position: relative;
}
